<%= form_with(model: student) do |form|  %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h6><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h6>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder:"FirstName" %><br>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder:"LastName" %><br>
  </div>

  <div class="field form-group">
    <%= form.text_field :phone, class: "form-control", placeholder:"Phone" %><br>
  </div>

  <div class="field form-group">

    <%= form.text_field :course , class: "form-control", placeholder:"Course"%><br>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class: "form-control" , placeholder:"Email"%><br>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :student_user_id, class: "form-control" , value: current_user.id , type: :hidden %><br>
  </div>

  <div class="action">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
